
<div class="container service">
    <h2 data-aos="fade-up">SERVICES</h2>
    <P data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</P>
    <div class="row">
        <div class="col-sm-4">
          <div class="card" data-aos="flip-left">
            <div class="card-body">
              <h5 class="card-title">Front End Development</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-info"> More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" data-aos="zoom-in">
            <div class="card-body">
              <h5 class="card-title">Back End Development</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-info">More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card" data-aos="flip-left">
              <div class="card-body">
                <h5 class="card-title">Web Designing</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-info "> More</a>
              </div>
            </div>
          </div>
      </div>
</div>
